<!DOCTYPE html>
<html>
<head>
    <title>兵马俑</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
</head>
<body>
    <div class="eassy-container">
        <div class="eassy-title">
            <h2>2016年   12月18日  星期日 雁塔区 雾霾、晴</h2>
        </div>
        <div class="eassy-detail">
            <p>&nbsp;&nbsp;原本上个周日就该同鸡哥一起去兵马俑参观的，结果推迟到这周。也许，人越到后面变得越懒，有些事情现在不去做，这辈子都懒得去做了。是舒舒服服地补个懒觉，还是出去吸吸雾霾，溜达溜达，还未下定决心，明天再看吧。</p>
        <p>&nbsp;&nbsp;昨晚挨到凌晨2点，天亮了，一看下时间，10点20了，我去！竟是幻觉，还好只是8点20，酒店的自助早餐还没错过。于是出于对时间逝去的恐慌，更确切的说是不想出门吃早餐，麻烦，立马起来洗漱。吃完早餐，说走就走的旅行，就出发了。</p>
        <p>&nbsp;&nbsp;应了那句话，最好的休息不是睡觉，而是做自己想做的事，折腾自己。工作也是如此，完成任务后的加班，是学习和提升自己的宝贵时间，还是装逼，看你怎么想。这算不算是在给自己灌鸡汤呢？
        坐车，传说要2个小时，果不如其然的时间漫长，以至于在车上都钓鱼了。到那边11点多，还算去的早，中饭也就先不考虑了。临潼县离西安市区还是挺远的，路过华清宫和骊山，看到那掩盖在雾霾之下的群山，有如鹤立鸡群，这就是北方的山了，感觉和梧桐山差不多高，只不过这边有缆车上去。如果不是目的性太强，我真愿意爬上这高山，去感受下高处不胜寒的感觉，尝试下被吹成sb！
        话说，山上鼎鼎大名的华清池，贵妃曾经洗澡的地方，呵呵！话说老蒋就是在那被抓的，嘿嘿，当官当皇帝皇妃什么的多会享受啊。</p>
        <p>&nbsp;&nbsp;到达兵马俑，找卖票的地方费了老半天，进入兵马俑博物馆园内，能明显感受到丝丝微凉，鼻涕忍不住地流，我多年的鼻炎又犯了，谁让这不是深圳的冬天呢。路边的植被，除了草地还有些绿色，那些不知为何物的植物长满了刺，似乎为了保护自己。正如一路上看的风景，两个字，寂寥，荒凉。
        从2号坑、3号到1号坑，意料之中的走马观花。因为没有相应史实铺垫，加上舍不得花钱雇导游，也懒得蹭解说，只想走马观花地看看。那两架出土的铜马车，是否会在五年之后重新摆放回秦始皇陵园？面对坑里的一堆堆陶俑，没有太多的感觉，据说每一个坑都有他的故事，我哪有那么多时间和耐心来听哩？我是来，到此一游的好嘛，拍拍几张照片就回去了，可是越来越有觉悟了，连照片都懒得拍几张，美其名曰，用心去品尝！</p>
        <p>&nbsp;&nbsp;拍照片，只为证明我曾经来过了，然后好向别人炫耀，啊呸，算了。无感，对文物和古迹越来越无感了，看太多了，再说，我喜欢的是历史，不是东西！因为无知，所以无耻。</p>
        <p>&nbsp;&nbsp;来到秦皇陵，要不是听解说员解说，我真的就感觉，来了一趟，啥也不知道，深埋地底的历史，更与谁人知。地底下据说还埋着那么多吨的水银，各种机关，陪葬品。茫茫陵寝，一片荒凉，除了顶头后面种上的石榴石。多少尸骨与悲凉，竟为了一个人的陪葬。事已至此，让他们安息吧，不去打扰，不拍照片。</p>
        <p>&nbsp;&nbsp;行将结束，来到秦皇陵博物馆，进门的桌子上摆着宣传资料，据说要120还是150块钱一本，中英双语，限量发行哦，很多人都是翻一番，没人购买，我也一样。我当时就想，太无知了，该买本看看。可是，太贵了，不如上网查查。可是，过了那个村，查个屁啊，回来不是躺下睡觉吗。</p>
        <p>&nbsp;&nbsp;曾经西杨村挖井首次发现兵马俑的4位在世老人，有一位安详地坐在那里，接受众人的鼓掌。老人微微一笑，示意抬举了。销售员在介绍着杂志，旁边有游客一说这就是那个“八字老人”，“书法协会副会长”，呵呵。我当时真想说，笑你妹啊，无知，无趣！</p>
        <p>&nbsp;&nbsp;后面随人群来到玉器讲解处，店员向大家讲解三分钟辨别玉器真假。当时搞得我也动心了，才150，看起来还可以，送妹子多好，管他真假反正又不贵，有些人买贵了还不是照样被坑了。回头观望，门口老人处除了售书员在那里，冷清至极。其实，我真的应该去买一本，让老人留个签名，和老人攀谈几句，您当时多大岁数？挖井发现这玩样儿害怕不，后面给您带来这么大变化，习惯吗。</p>
        <p>&nbsp;&nbsp;结果还是犹豫了，同样的价钱，买来的东西，一边是为了取悦他人，一边是为了取悦自己，究竟哪个更值得？</p>
        <p>&nbsp;&nbsp;老人那里，一个人埋头吃面，两三点了，连饭都没来的及吃啊，太过世态炎凉。还好没买玉镯子，如果当时买了而没去买那本书，我可能心里会更不好受。</p>
        <p>&nbsp;&nbsp;有些东西真的不能用钱来衡量的，一边是120或是150的限量版杂志，关于兵马俑秦皇陵介绍，外送曾经目不识丁的兵马俑发现者“西安书法协会副会长”的签名，太贵了，50块就买了；一边是150一枚的蓝田玉镯，买来送妹子多好啊，多有面子。</p>
        <p>&nbsp;&nbsp;当年大二时候花1200买个诺基亚c503都觉得太奢侈，可是回想过来，要不是当时用它偷拍了几张外婆的照片，我还有神马寄托，这些用钱能够买得来吗？如果能买回来，多少钱都愿意。突然觉得，不能再随大流了，盲目跟风，必须坚守自己的观念，跟着自己的灵魂走，管他们说我是装逼还是装蒜！</p>
        </div>
    </div>
</body>
</html>